<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Venue Vine</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
         max-height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  width: 50%;
  min-height: 200px;
  height: 80%;
        margin: 0 auto;
      }
    </style>

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="map"></div>
    <script src="javascripts/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyuBsxJk5osCveWUDLTNlwGDzuykkh7yM&callback=initMap">
    </script>
  </body>
</html>






