<!DOCTYPE html>
<html>
  <head>
    <title>Venue Vine</title>
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Reenie+Beanie|Poiret+One' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="imagesBody">


<h1>Venue Vine</h1>


<a class="returnToMap" href="/map"><h4 class="fancy"><span>Map of All ATX Venues</span></h4></a>

<div class="venueMenu">

    <a href="/">all</a>
    <a href="/?district=sixth+street">sixth street</a>
    <a href="/?district=red+river">red river</a>
    <a href="/?district=south+lamar">south lamar</a>
    <a href="/?district=south+austin">south austin</a>
    <a href="/?district=east+austin">east austin</a>
    <a href="/?district=university">university</a>
    <a href="/?district=warehouse+and+downtown">warehouse & downtown</a>
    <a href="/?district=market">market</a>
    <a href="/?district=other">other</a>
</div>
<hr>

<div class="imagesParent">

    <%venue.forEach(function(venue){ %>

    <ul class="img-list">
      <li>
        <a href="/venues/<%= venue.id %>">
          <img src="<%=venue.imageURL%>" />
          <span class="text-content"><span><%=venue.name%> </span></span>
        </a>
      </li>
    </ul>
    <% }); %>
</div>
<hr>


  </body>
</html>






