<h1><%= venue.name %></h1>

<img src="<%= venue.imageURL %>" alt="venue">

<a class="returnToMap" href="/"><h2>Back to Map</h2></a>

<a class="returnToMap" href="/images"><h3>Main Venues Listing Page</h3></a>
