body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba(3, 169, 244, 0.18);
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  max-height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  width: 50%;
  min-height: 200px;
  height: 80%;
  margin: 0 auto;
  margin-top: 40px;
}


/*testing*/

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
}



span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
