body {
  padding: 50px;
}

.imagesBody {
  margin: 0 100px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 85px;
font-family: 'Poiret One', sans-serif;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 5px;

}

h4 {
 /* font-family: 'Poiret One', sans-serif;*/
  text-align: center;
  font-family: 'Pacifico', cursive;
}

hr {
  margin-bottom: 25px;
}

#map {
  max-height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  width: 50%;
  min-height: 200px;
  height: 80%;
  margin: 0 auto;
  margin-top: 40px;
}


.imagesParent {
 text-align: center;
}

.venueMenu a {
  font-family: 'Limelight', sans-serif;
  color: #636161;
  padding: 0 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.venueMenu a:hover {
  font-size: 15px;
  color: black;
  padding: 0 5px;
}

.venueMenu {
  text-align: center;
}

.img-list {
  display: inline-block;
}

.returnToMap {
  color: #636161;
}

/*on main images view page, images go opaque and display text on mouse-over*/

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
}



span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Poiret One', sans-serif;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

/*css for main page double lines next to map link*/

h4 span {
      margin-bottom: 25px;
      font-size: 25px;
}

h4 span:hover {
  color:black;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 519px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

