body {
  padding: 50px;
}

.imagesBody {
  margin: 0 100px;
}

.mapBody {
  margin: 0 100px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 85px;
font-family: 'Poiret One', sans-serif;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 5px;

}

h4 {
 /* font-family: 'Poiret One', sans-serif;*/
  text-align: center;
 font-family: 'Reenie Beanie', cursive;
 font-weight: 100;
}

hr {
  margin-bottom: 25px;
}


#map {
  max-height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  min-height: 200px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid black;
}


.imagesParent {
 text-align: center;
}

.venueMenu a {
  font-family: 'Limelight', sans-serif;
  color: #636161;
  padding: 0 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.venueMenu a:hover {
  font-size: 15px;
  color: black;
  padding: 0 5px;
  text-decoration: none;
}

.venueMenu {
  text-align: center;
}

.img-list {
  display: inline-block;
}

.returnToMap {
  color: #E80F0F;
}

.hrMargin {
  margin: 50px 0;
}

/*on main images view page, images go opaque and display text on mouse-over*/

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
  overflow: hidden;
}

ul.img-list li img{
  height: 100%;
}

.img-list img {
  margin-left: -25%;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

/*css for main page double lines next to map link*/

h4 span {
      margin-bottom: 25px;
      font-size: 34px;
}

h4 span:hover {
  color:black;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
 font-weight: 700;
}

.fancy span:hover {
  color: darkblue;
}


.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 473px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}


/*venue show page*/

.venueName {
  text-align: center;
  font-size: 60px;
  font-family: 'Poiret One', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}

.venueContainer{
  display: inline-block;
  border: 2px solid black;
  padding: 3px 3px 0px 3px;
  width: 45%;
}
.venueImage {
  width: 100%;


/*display: inherit; if I want img to center*/
}

.blackFont {
  color: black;
}

.bookingInfo {
  border: 2px solid black;
  margin-left: 30px;
  width: 45%;
  padding: 15px;
  text-align: center;
}

.bookingInfo *{
  margin: 0;
}

.picBookingParent {
  display: flex;
  align-items: stretch;
}

/*show page shenanigans*/

.commentsBox {
  padding: 15px;
}

.comments {
  padding: 15px;
  background: rgba(3,169,244,.18);
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.commentsInvitation {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Poiret One', sans-serif;
}

.bookingInfo h2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 40px;
  margin: 25px 0;
}

.bookingInfo p {
  font-family: 'Poiret One', sans-serif;
  margin-top: 5px;
  /*font-family: 'Arial';*/
}

.bookingInfo a {
  font-family: 'Poiret One', sans-serif;
  /*font-family: 'Arial';*/
}

.homePageLink {
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
}

.bookingInfo {
  font-size: 25px;

}

#formSubmit {
  padding: 10px 20px 11px !important;
  font-size: 21px !important;
  background-color: transparent;
  font-weight: bold;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Poiret One', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  }

  #formSubmit:hover {
    background-color: purple;
    color: white;
    border-color: purple;
  }

  form textarea {
    margin: 0 auto;
    display: list-item;
    font-size: 15px;
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;

  }

  .hrSpace {
    margin-top: 30px;
  }

  .showReturn {
    margin-bottom: 40px;
  }

  #commentsHeader {
    font-size: 30px;
  }

  .comments h5 {
    font-family: 'Poiret One', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
  }

  .comments p {
    font-family: 'Poiret One', sans-serif;
    font-size: 23px;
  }

  .date {
    color: #949191;
    font-size: 15px!important;
  }

/*media queries*/

@media only screen and (max-width: 600px) {

  .mapBody {
    padding: 0;
    margin: 0;
  }

  .imagesBody{
    padding: 0 15px;
    margin: 0;
  }
  .img-list{
    display: block;
  }
    ul.img-list li {
     width: 100%;
     height: auto;
     display: block;
     margin: 1em auto;
     max-height: 400px;
    }

    .venueMenu a {
      font-size: 40px;
      width: 100%;
      display: table-row;
    }

   .venueMenu a:hover {
      color: black;
      text-decoration: none;
      font-size: 40px;
    }

    .img-list img{
      margin-left: 0;
    }

    span.text-content{
      width: 100%;
      height: auto;
      font-size: 40px;
      padding: 10px 0;
      opacity: 1
    }

    #map {
      max-width: 100%;
    max-height: 100%;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 20px;
    }

    .fancy span:before, .fancy span:after {
    width: 28px;
}
}
